<app-mentor-body></app-mentor-body>
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Mentor Register</h3>
          </div>
          <div class="card-body">
            <form class="form" #mentorForm="ngForm">

                <div class="form-group"
                [class.has-error]="userFirstNameControl.invalid && userFirstNameControl.touched" 
                  [class.has-success]="userFirstNameControl.valid">
                  <label for="Firstname" class="control-label">First Name</label>
                  <input type="text" [(ngModel)]="registerMentorData.firstName" id="firstName" name="firstName" class="form-control rounded-0" 
                  #userFirstNameControl="ngModel" required placeholder="Enter Your First Name">
                  <span class="help-block text-danger"
                      *ngIf="userFirstNameControl.invalid && userFirstNameControl.touched">
                  First Name is Required
                </span>
                </div>
                <div class="form-group"
                [class.has-error]="userLastNameControl.invalid && userLastNameControl.touched" 
                  [class.has-success]="userLastNameControl.valid">
                  <label for="LastName" class="control-label">Last Name</label>
                  <input type="text" [(ngModel)]="registerMentorData.lastName" id="lastName" name="lastName" class="form-control rounded-0"  
                  #userLastNameControl="ngModel"  required placeholder="Enter Your Last Name">
                  <span class="help-block text-danger"
                      *ngIf="userLastNameControl.invalid && userLastNameControl.touched">
                 LastName is Required
                </span>
                </div>

              <div class="form-group"
              [class.has-error]="userNameControl.invalid && userNameControl.touched" 
                [class.has-success]="userNameControl.valid">
                <label for="Email" class="control-label">Username</label>
                <input type="text" [(ngModel)]="registerMentorData.Email" id="Email" name="Email" class="form-control rounded-0" 
                #userNameControl="ngModel" required placeholder="Enter Your Email">
                <span class="help-block text-danger"
                    *ngIf="userNameControl.invalid && userNameControl.touched">
               Mentor Email is Required
              </span>
              </div>
              <div class="form-group"
              [class.has-error]="userPasswordControl.invalid && userPasswordControl.touched" 
                [class.has-success]="userPasswordControl.valid">
                <label for="Password" class="control-label">Password</label>
                <input type="Password" [(ngModel)]="registerMentorData.Password" id="Password" name="Password" class="form-control rounded-0"  
                #userPasswordControl="ngModel" minlength="6" required  minlength="6" required placeholder="6 characters minimum">
                <span class="help-block text-danger"
                    *ngIf="userPasswordControl.invalid && userPasswordControl.touched">
                Mentor Password is Required
              </span>
              </div>
              <div class="alert alert-danger" *ngIf="errorServerMessage != null">
                <strong>Danger! {{errorServerMessage}}</strong> 
              </div>

              <button type="button" (click)="registerMentor()" [disabled]="mentorForm.invalid" class="btn btn-primary float-right">Register</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>